<br>
<br>
  <div class="container">
    <div class="bookings-header">
      <h1>Manage my bookings</h1>
    </div>
    <div class="bookings-container">
      <% @user.bookings.each do |booking| %>

          <div class="booking-product">
            <img style="background-image: url(<%= booking.surf_company.image %>)">
            <div class="booking-attributes">
              <div class="booking-product-infos">
                <h2><%= booking.surf_company.name %></h2>
                <p>Booking id: <%=booking.id %> </p>
                <p>Lesson details: <%= booking.date %></p>
              </div>
              <div class="booking-attribute-links">
                <%= link_to edit_booking_path(booking) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to booking_path(booking), method: :delete do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </div>
            </div>
          </div>

      <% end %>
    </div>
    <div class="booking-button-position-center">
      <%= link_to surf_companies_path do %>
        <button class="btn text-white" style="margin: 30px 0px;">Create new booking</button>
      <% end %>
    </div>
  </div>




