<br>
<br>
  <h1 class="container">Surf Companies</h1>
  <div class="container">
    <div class ="row">
      <div class="main-container">
        <% @surf_companies.each do |surf_company|  %>
          <%= link_to surf_company_path(surf_company), class:'card-link' do %>
            <div class="card-product">
              <img style="background-image: url(<%= surf_company.image %>);">
              <div class="card-product-infos">
                <h2><%= surf_company.name %> </h2>
                <p><%= surf_company.address %></p>
                <p class ="card-lesson-pricing"><%= surf_company.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class ="row">
        <div
          id="map";
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

      </div>
    </div>
  </div>
