  <div class="banner">
    <div class="main-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
    </div>
    <div class="secondary-images">
      <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
      </div>
      <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
      </div>
    </div>
  </div>

  <div class="show-company-container">
    <div class="company-details-container">
      <h2><%= @surf_company.name %></h2>
      <p><i class="fas fa-map-marker-alt"></i><%= @surf_company.address %></p>
      <p>The magic of Miami Beach is yours when you plan your BouYah Water Sports activities at the Miami Beach Marina. Located adjacent to Government Cut, with no fixed bridges and plenty of deep water your ocean adventure awaits!</p>
      <p>Facilities</p>
      <p>Available between 10:00-16:00</p>
      <p><i class="fas fa-mobile-alt"></i>Contact us: +357 99543811</p>
    </div>

    <div class="booking-form-container">
      <div class="form-style">
        <h2>Add a Booking</h2>
        <%= simple_form_for [@surf_company, Booking.new] do |f| %>
          <%= f.input :date, as: :string, label: "Start date", required: false, input_html: {class: "dater"} %>
            <%= f.button :submit, class: "btn-login" %>
        <% end %>
      </div>
    </div>
  </div>


