<br>
<br>
<div class="banner">
  <div class="main-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
  </div>
  <div class="secondary-images">
    <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
    </div>
    <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
    </div>
  </div>
</div>

<div class= "container">
  <div class="details-container">
    <h1><%= @surf_company.name %></h1>
    <p><%= @surf_company.address %></p>
  </div>

  <div class= "booking-container ">
    <%= link_to new_surf_company_booking_path(@surf_company) do %>
      <button class="btn text-white">Book now</button>
    <% end %>
  </div>
</div>
