  <div class="banner">
    <div class="main-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
    </div>
    <div class="secondary-images">
      <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
      </div>
      <div class="small-image" style="background-image: url('https://source.unsplash.com/featured/?{surf},{surfer}<%= (1..10000).to_a.sample %>');">
      </div>
    </div>
  </div>

  <div class="show-company-container">
    <div class="company-details-container">
      <h2 class="company-title"><%= @surf_company.name %></h2>
      <p><i class="fas fa-map-marker-alt"></i><%= @surf_company.address %></p>
      <p><%= @surf_company.description %></p>
      <p>Price:<%= @surf_company.price %></p>
      <p>Our Facilities</p>
      <p><%= @surf_company.facilities %></p>
      <p><i class="fas fa-mobile-alt"></i><%= @surf_company.number %></p>
      <p><i class="fas fa-envelope"></i><%= @surf_company.email %></p>
    </div>

    <div class="positioning">
      <div class="form-style">
        <h2>Add a Booking</h2>
        <%= simple_form_for [@surf_company, Booking.new] do |f| %>
        <%= f.input :date, as: :string, label: "Start date", required: false, input_html: {class: "dater"} %>
          <%= f.button :submit, class: "btn-login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

